.App {
    padding: 30px;
    display: flex;
}

.App > div {
    margin-right: 50px;
}

.errorInput {
    border: 1px solid red;
}

.error-message {
    display: flex;
    justify-content: center;
    background-color: #e20000;
    border-radius: 4px;
    color: #fff;
    margin-top: 2px;
}
.active-filter{
    background-color: #008aff;
    color: #fff;
    border: none;
    border-radius: 2px;
    padding: 3px 10px;
}
.is-done{
    opacity: 0.5;
}